body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: yellow;
}

#game-board {
  background-color: #ccc;
  width: 100vmin;
  height: 75vmin;
  display: grid;
  grid-template-rows: repeat(21, 1fr);
  grid-template-columns: repeat(21, 1fr);
  /* position: absolute; */
}

.container {
  position: relative;
}

.snake {
  background-color: aqua;
  border: 0.25vmin solid black;
  border-radius: 50%;
}

.food {
  background-color: yellow;
  border: 0.25vmin solid black;
  border-radius: 50%;
}
